<a href="https://colab.research.google.com/github/BeatriceZbj/CompetitionData/blob/main/DataFrame_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

1. DataFrame的创建

(1) 列表/元组创建

In [ ]:
data1 = [[1,2,3],[4,5,6],[7,8,9]] # 二维列表
d1 = pd.DataFrame(data1)
d1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
d1.index # 行索引

RangeIndex(start=0, stop=3, step=1)

In [ ]:
d1.columns # 列索引，注意有s

RangeIndex(start=0, stop=3, step=1)

(2) 二维数组

In [ ]:
df2 = pd.DataFrame(np.arange(16).reshape((4,4)))
df2

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

(3) 等长列表、元组、数组
序列组成的字典

In [ ]:
data2 = {'a':[1,2],'b':[3,4]}
data3 = {'c':(1,2), 'd':(5,6)}
data4 = {'e': np.arange(4), 'f': np.arange(4)}
data5 = {'g': pd.Series([1,2,6]), 'h': pd.Series([3,4,5])}
pd.DataFrame(data5)

   g  h
0  1  3
1  2  4
2  6  5

(4) 字典组成的字典

In [ ]:
data6 = {'shanghai': {2015:100, 2016:200}} # shanghai是column name, 2015、2016是index name
pd.DataFrame(data6)

      shanghai
2015       100
2016       200

(5) 字典或Series的列表

In [ ]:
data7 = [{'a':1, 'b':2}, {'a':5, 'b':10}] # 这里的a, b为列名
pd.DataFrame(data7)

   a   b
0  1   2
1  5  10

In [ ]:
data8 = [pd.Series([1,2], index = ['a','b']),pd.Series([4,6], index = ['a','b'])] # 这里的a.b也是列名
pd.DataFrame(data8, index = ['c','d'])

   a  b
c  1  2
d  4  6

2. 数据的查看

(1) 数据的读取和存储

In [ ]:
pd.read_csv('/content/sample_data/california_housing_test.csv', index_col = 0)
# 读取数据的过程； 这里的index_col = 0表明第0列为index, 除了read_csv还有其他的方法比如read_excel

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
longitude,,,,,,,,
-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...
-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
d1.to_csv('test.vsv', sep = ',', header = True)
# 写入csv, 用都好分割，带header

In [ ]:
d1.to_excel('test2.xlsx', sheet_name = 'd1')
# 设定sheet_name可以将数据写到不同的sheets中

In [ ]:
# 当我们想写入多个表格的时候，可以用以下的方法
with pd.ExcelWriter('output.xlsx') as writer:
    d1.to_excel(writer, sheet_name = 'd1')
    d1.to_excel(writer, sheet_name = 'd2')

In [ ]:
# 读取json格式 pd.read_json()
js = '''[
    {'first_name': 'Beatrice',
     'last_name' : 'zheng'}
]'''
# 最外层是列表，只能2层json写入dataframe

In [ ]:
# 读取html，直接把表格形式的html网址读入，注意严格的表格型的才能读入 pd.read_html
# 从粘贴板读取数据；从最近复制的地方读取数据，pd.read_clipboard(header = None)

In [ ]:
# pandas读取大数据
reader = pd.read_csv('训练用数据.csv', chunksize=1000)
for chunk in reader:
    print(chunk)
# 上面的程序中指定的chunksize=1000表示1次读取1000行，那么第二次读的时候就是从1001行开始读取。
# 对目标数据进行筛选时有如下例子
import pandas as pd
reader = pd.read_csv('训练用数据.csv', chunksize=1000)
df = pd.DataFrame()
t = list(range(1, 2000, 7))
for chunk in reader:
    chunk = chunk[chunk["小区编号"].isin(t)]
    df = pd.concat([df, chunk], axis=0)

(2) 数据的查看

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_test.csv')

In [ ]:
df.head(3) # 查看前3个数据

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0

In [ ]:
df.tail(3) # 查看后3个数据

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
df.values # 直接查看值，没有索引了

array([[-1.22050e+02,  3.73700e+01,  2.70000e+01, ...,  6.06000e+02,
         6.60850e+00,  3.44700e+05],
       [-1.18300e+02,  3.42600e+01,  4.30000e+01, ...,  2.77000e+02,
         3.59900e+00,  1.76500e+05],
       [-1.17810e+02,  3.37800e+01,  2.70000e+01, ...,  4.95000e+02,
         5.79340e+00,  2.70500e+05],
       ...,
       [-1.19700e+02,  3.63000e+01,  1.00000e+01, ...,  2.20000e+02,
         2.28950e+00,  6.20000e+04],
       [-1.17120e+02,  3.41000e+01,  4.00000e+01, ...,  1.40000e+01,
         3.27080e+00,  1.62500e+05],
       [-1.19630e+02,  3.44200e+01,  4.20000e+01, ...,  2.60000e+02,
         8.56080e+00,  5.00001e+05]])

In [ ]:
df.size # 行列相乘，多少个元素数据

27000

In [ ]:
df.sample(n=5) # 随机抽取5个数据

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
22,-118.16,34.07,47.0,2994.0,543.0,1651.0,561.0,3.8644,241500.0
36,-122.53,37.97,52.0,1560.0,451.0,700.0,419.0,2.5125,270800.0
2767,-121.56,37.00,20.0,3976.0,953.0,3866.0,950.0,2.5387,160100.0
1254,-122.11,37.70,23.0,1689.0,461.0,828.0,443.0,2.1552,161400.0
2691,-117.82,33.74,25.0,2720.0,680.0,1559.0,631.0,3.0958,137800.0

In [ ]:
df.shape # 查看数据形状

(3000, 9)

In [ ]:
df.info() # 查看数据类型、缺失值

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [ ]:
df.dtypes # 查看数据类型，注意这个是属性；其另外一种用法，df.dtypes['列名]

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [ ]:
df.astype() # 对数据类型进行转换

In [ ]:
type(df) # 查看数据类型

In [ ]:
df.isnull() # 查看缺失值情况， isna()也行

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
2995,False,False,False,False,False,False,False,False,False
2996,False,False,False,False,False,False,False,False,False
2997,False,False,False,False,False,False,False,False,False
2998,False,False,False,False,False,False,False,False,False
2999,False,False,False,False,False,False,False,False,False

In [ ]:
df.describe() # 统计描述信息、数值型、非空的信息

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

In [ ]:
df.describe(include = object) # 查看object的统计信息

In [ ]:
df.count() # 计算每一列数据的数量

longitude             3000
latitude              3000
housing_median_age    3000
total_rooms           3000
total_bedrooms        3000
population            3000
households            3000
median_income         3000
median_house_value    3000
dtype: int64

In [ ]:
df['longitude'].unique() # 返回某series的唯一值
df['longitude'].nunique() # 返回某series唯一值的数量

(3) 索引和过滤

**选择行的方法**

In [ ]:
df[:1]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0

In [ ]:
df[2:3] # 左闭右开,如果是索引的名字的话两边都为闭合

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0

**选择列的方法**

In [ ]:
df['longitude']

0      -122.05
1      -118.30
2      -117.81
3      -118.36
4      -119.67
         ...
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, Length: 3000, dtype: float64

In [ ]:
df[['longitude']] # 两个中括号就是dataframe的形式了

      longitude
0       -122.05
1       -118.30
2       -117.81
3       -118.36
4       -119.67
...         ...
2995    -119.86
2996    -118.14
2997    -119.70
2998    -117.12
2999    -119.63

[3000 rows x 1 columns]

In [ ]:
df[['latitude','longitude']] # 选择多列也是两个中括号

      latitude  longitude
0        37.37    -122.05
1        34.26    -118.30
2        33.78    -117.81
3        33.82    -118.36
4        36.33    -119.67
...        ...        ...
2995     34.42    -119.86
2996     34.06    -118.14
2997     36.30    -119.70
2998     34.10    -117.12
2999     34.42    -119.63

[3000 rows x 2 columns]

**行和列选择的方法**

In [ ]:
df.loc[1:2, ['latitude','longitude']] # loc是一种显示的方法

   latitude  longitude
1     34.26    -118.30
2     33.78    -117.81

In [ ]:
df.loc[1:2] # 如果不加后面的列的话，loc默认选择的是行

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0

In [ ]:
df.loc[[1,2]] # 注意这里是中括号和上面的进行区分

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0

In [ ]:
df.iloc[:5:1, :3:1] # iloc是隐示，左闭右开，最后的1是步长

   longitude  latitude  housing_median_age
0    -122.05     37.37                27.0
1    -118.30     34.26                43.0
2    -117.81     33.78                27.0
3    -118.36     33.82                28.0
4    -119.67     36.33                19.0

In [ ]:
df.iloc[1:3]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0

In [ ]:
df.iloc[[1,2,3]]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0

In [ ]:
df[df['longitude']>0] # 一个条件过滤

Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, median_house_value]
Index: []

In [ ]:
df.loc[df['latitude']>0, df.loc[2]<0] # 选择latitude大于0的所有行和2行小于0的所有列

      longitude
0       -122.05
1       -118.30
2       -117.81
3       -118.36
4       -119.67
...         ...
2995    -119.86
2996    -118.14
2997    -119.70
2998    -117.12
2999    -119.63

[3000 rows x 1 columns]

In [ ]:
df.loc[(df['latitude']>0)&(df['total_bedrooms']>0), df.loc[2]<0] # 可以通过括号和&分别增加行和列的筛选条件

      longitude
0       -122.05
1       -118.30
2       -117.81
3       -118.36
4       -119.67
...         ...
2995    -119.86
2996    -118.14
2997    -119.70
2998    -117.12
2999    -119.63

[3000 rows x 1 columns]

In [ ]:
df.loc[df['latitude'].notnull(), df.loc[2].notnull()] # 选择latitude列非空，2行非空

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
df['total_rooms'][3] # 先选了total_rooms这一列然后再选了第三行

67.0

In [ ]:
df[['total_rooms','total_bedrooms']][3:6] # 注意这里如果后面那个中括号不写范围会报错

   total_rooms  total_bedrooms
3         67.0            15.0
4       1241.0           244.0
5       1018.0           213.0

**锁定某一个单元格**

In [ ]:
df.at[1,'total_rooms']

1510.0

In [ ]:
df.iat[1,4] # 这两个和loc以及iloc的用法区别有点像

310.0

还有一些其他的方法在此只写code不做演示


```
df.loc[df['e'] == 'two',:]
df.e.isin(['two'])
df.e.str.startwith('t')
df.e.str.upper()
```

注意上面.str只能应用在string类型的数据上

（4）索引设置


```
set_index # 设置索引
reset_index # 恢复默认索引
reindex # 重新索引
```

In [ ]:
df1 = df.set_index('latitude')
df1

,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
latitude,,,,,,,,
37.37,-122.05,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
34.26,-118.30,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
33.78,-117.81,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
33.82,-118.36,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
36.33,-119.67,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...
34.42,-119.86,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
34.06,-118.14,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
36.30,-119.70,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
34.10,-117.12,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
34.42,-119.63,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
 df.reindex(np.arange(1,3001), method = 'ffill') # method是对于缺失值的填充

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
...,...,...,...,...,...,...,...,...,...
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0
3000,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

3. 增加和删除df

**增加行**



```
df.loc['d'] = [.....] # 增加/修改行
df.loc[4] = ['爱', 21]
d.loc['e'] = 9 # 标量自动扩展
df = df.append(df2) # 增加多行
```

**增加列**


```
df['five'] = 10 #标量自动扩展
df['six'] = df['five'] + df['one']
df.insert(0, 'seven;, [...]) # 在某列插入列名为seven的列
df.sum(aixs=1) # 沿着1轴相加 （这里就提一嘴，但不是增加列的范畴）
```

**删除列**



```
df.drop('a', axis = 0) # 删除行，默认为axis=0
df.drop(['one','six'], aixs = 1, inplace = True) # 原地删除列
```

4. 缺失值的处理

**Series**

```
s.dropna() # 删除缺失值，默认新生成
s.dropna(inplace = True) # 实现原地删除
```

**DataFrame**

```
df.dropna(axis = 0) # 删除行的缺失值
df.dropna(axis = 1) # 删除列的缺失值
df.dropna(axis = 0, thresh = 5) # 删除非nan的数量小于5的行，阈值，保留非空数量大于等于5的行
df.dropna(how = 'all', axis = 0) # 行全部为nan时删除行
df.dropna(how = 'any', axis = 0) # 只要有nan就删除行
```

5. 重复值的处理



```
df.duplicated() # 显示重复值
~df.duplicated() # 取反，不重复的
df.duplicated(subset = ['value1', 'value4'] # 选定重复字段
df.drop_duplicated(keep = 'first'/ 'last') # 删除重复值
```

6. 数据的填充和替换

(1) 替换


```
df.replace('xiaoming','小明') # 新生成，替换或者选取其中的列做替换；replace中还可以输入其他的数据类型详情查看有关资料
```

(2) 填充


```
df.fillna(0) # 新生成，加上inplace=True为原地修改
df.fillna({1:0, 2:100}) # 不同的列用不同的数填充
df.fillna(method = 'ffill') # 前项填充，默认aixs = 0, 'bfill'为后项填充
df.fillna(df.mean()) # 用均值填充；根据经验，数值型用均值和中位数填充，类别型用众数填充
```
(3) 分组填充

方法1


```
df[df['年纪']==1].fillna(df[df['年纪']==1].mean())
```
方法2



```
df.groupby('年级')['age'].apply(lambda x: x.fillna(x.mean())) # 其中的x指的是age这一列
```

7. 算术运算

(1）


```
s1.add(s2, fill_value = 0) # 对加数中的空值用0填充
# 不论是series还是df，相加会自动对齐索引
df1.add(df2, fill_value = 0) 
```

(2) apply(), applymap(), map()的区别

* apply(): 当想让方程作用在一维向量上时（行or


列）

* applymap(): 想让方程作用于dataframe中的每一个元素

* map: 将函数作用于series的每一个元素

In [ ]:
frame = pd.DataFrame(np.random.randn(4,3), columns = list('bde'), index = ['utah','ohio','texas','oregon'])
frame

               b         d         e
utah   -2.526611 -0.001142  0.408413
ohio    0.184606  1.059389  0.309907
texas   1.014196 -0.725952  0.650446
oregon  2.378888 -0.964442  0.378608

In [ ]:
frame.apply(lambda x:x.mean())

b    0.262770
d   -0.158037
e    0.436844
dtype: float64

In [ ]:
frame.map(lambda x:x.mean()) # 报错，map不能作用在dataframe上

In [ ]:
frame['b']

utah     -2.526611
ohio      0.184606
texas     1.014196
oregon    2.378888
Name: b, dtype: float64

In [ ]:
frame['b'].map(lambda x:round(x)) # 可以看出map作用到了这个serires的每一个元素上

utah     -3
ohio      0
texas     1
oregon    2
Name: b, dtype: int64

In [ ]:
frame['b'].apply(lambda x:round(x)) # apply也可以做到和map一样的操作

utah     -3
ohio      0
texas     1
oregon    2
Name: b, dtype: int64

In [ ]:
frame['b'].applymap(lambda x:round(x)) # applymap只能用在dataframe上，这里会报错

In [ ]:
frame.applymap(lambda x:round(x))

        b  d  e
utah   -3  0  0
ohio    0  1  0
texas   1 -1  1
oregon  2 -1  0

(3) 统计运算(含numpy函数）


```
df.apply(np.mean, axis = 1)
df.mean()
```

8. 排序

(1) 按索引排序


```
df.sort_index(aixs = 0, ascending = True)
```

(2) 按值排序


```
df.sort_values(by = 'b', ascending = True) # 按列的时候需要设置轴
```

(3) 多重索引设置+排序



```
df = df.set_index(['位置','价格'])
df.sort_index(level = 1) # 表示按照第二个索引排序，0为第一个索引
df.sort_values(['位置','价格'],ascending=[True, False]) # 多层排序
```

9. 统计和描述



```
df.sum() # 均为非空数据集的统计
df.sum(axis = 1)
df.idxmax() # 每一列中最大值的行索引
df.idxmax(axis = 1) # 每一列中最大值的列索引
df.count()
df.describe()
df['species'].value_counts() #类别型统计
```

10. 数据合并和重塑

**数据合并(pd.concat, pd.append, pd.merge)**
```
pd.concat([df1, df2], axis = 1, join = 'inner') 
# 横着拼接，内连接，行索引自动对齐的特征；所以可以先把共有的部分设置成索引

df1 = df1.append(df2, ignore_index = True) 
# append只能上下拼，而且append为新增操作要赋值
应用场景：连续产生多个dataframe然后堆砌进行拼接
df1 = pd.DataFrame()
for i in range(5):
    df2 = pd.DataFrame(np.arange(16).reshape(4,4))
    df1 = df1.append(df2, ignore_index = True) 

#逐渐合并（用的多）

pd.merge(left, right, on = 'xx', how = 'inner'/'right'..)

# 2组key一样才能拼接起来
```

**数据重塑(stack, unstack, pivot)**

stack: 将数据的列转为行

unstack: 将数据的行转为列

pivot:轴向旋转

In [ ]:
 data = {'Id': [101, 101, 102, 102, 103, 103], '物品': ['小刀','笔','水','面包','笔','饼干'],'数量': [4,3,5,4,6,5]}

In [ ]:
df = pd.DataFrame(data)
df

    Id  物品  数量
0  101  小刀   4
1  101   笔   3
2  102   水   5
3  102  面包   4
4  103   笔   6
5  103  饼干   5

In [ ]:
# 如何进行unstack，即将数据的行转为列
df.set_index(['Id','物品']) # 先设置一个双重索引

        数量
Id  物品
101 小刀   4
    笔    3
102 水    5
    面包   4
103 笔    6
    饼干   5

In [ ]:
df.set_index(['Id','物品']).unstack() # 行就转列啦

      数量
物品    小刀    水    笔   面包   饼干
Id
101  4.0  NaN  3.0  NaN  NaN
102  NaN  5.0  NaN  4.0  NaN
103  NaN  NaN  6.0  NaN  5.0

In [ ]:
df.set_index(['Id','物品']).unstack().stack() # 列就转行啦

         数量
Id  物品
101 小刀  4.0
    笔   3.0
102 水   5.0
    面包  4.0
103 笔   6.0
    饼干  5.0

In [ ]:
df.pivot('Id','物品','数量') # 直接行转列了更方便
# pivot(index=None, columns=None, values=None)

物品    小刀    水    笔   面包   饼干
Id
101  4.0  NaN  3.0  NaN  NaN
102  NaN  5.0  NaN  4.0  NaN
103  NaN  NaN  6.0  NaN  5.0

11. 分组运算

In [ ]:
df

    Id  物品  数量
0  101  小刀   4
1  101   笔   3
2  102   水   5
3  102  面包   4
4  103   笔   6
5  103  饼干   5

In [ ]:
df.groupby('物品').mean()

       Id   数量
物品
小刀  101.0  4.0
水   102.0  5.0
笔   102.0  4.5
面包  102.0  4.0
饼干  103.0  5.0

In [ ]:
df.groupby(['Id','物品']).mean()

         数量
Id  物品
101 小刀  4.0
    笔   3.0
102 水   5.0
    面包  4.0
103 笔   6.0
    饼干  5.0

In [ ]:
df[['Id','物品']].groupby('物品').mean()

       Id
物品
小刀  101.0
水   102.0
笔   102.0
面包  102.0
饼干  103.0

In [ ]:
# 传入标准函数聚合
def ptp(arr):
    return arr.max() - arr.min()
df.groupby(['物品']).agg([ptp]) # 注意这里有一个中括号

    Id  数量
   ptp ptp
物品
小刀   0   0
水    0   0
笔    2   3
面包   0   0
饼干   0   0

In [ ]:
df.groupby(['物品']).agg(lambda x:x.max()-x.min())

    Id  数量
物品
小刀   0   0
水    0   0
笔    2   3
面包   0   0
饼干   0   0

In [ ]:
df.groupby(['物品']).agg([np.mean, ptp, np.sum]) # 可以放入多个函数用逗号隔开中括号括起来

       Id            数量
     mean ptp  sum mean ptp sum
物品
小刀  101.0   0  101  4.0   0   4
水   102.0   0  102  5.0   0   5
笔   102.0   2  204  4.5   3   9
面包  102.0   0  102  4.0   0   4
饼干  103.0   0  103  5.0   0   5

In [ ]:
# 也可以不同的列用不同的聚合函数
mapping = {'数量': np.mean, 'Id': np.sum}
df.groupby('物品').agg(mapping)

     数量   Id
物品
小刀  4.0  101
水   5.0  102
笔   4.5  204
面包  4.0  102
饼干  5.0  103

12. 透视表和交叉表

pivot table: 透视表指的是根据一个或多个键值对数据进行聚合，根据行或者列的分组键将数据划分到各个区域

cross table: 用于统计分组频率的特殊透视表

In [ ]:
df.pivot_table(index = ['Id'], values = '数量', aggfunc = np.sum)
# 按照ID进行group by和数量求和

     数量
Id
101   7
102   9
103  11

In [ ]:
pd.crosstab(df['物品'],df['Id']) # 第一个是groupby第二个是column

Id  101  102  103
物品
小刀    1    0    0
水     0    1    0
笔     1    0    1
面包    0    1    0
饼干    0    0    1

In [ ]:
# 上面的这个功能约等于
df.groupby(['物品','Id']).count().unstack()

     数量
Id  101  102  103
物品
小刀  1.0  NaN  NaN
水   NaN  1.0  NaN
笔   1.0  NaN  1.0
面包  NaN  1.0  NaN
饼干  NaN  NaN  1.0

13. 时间序列分析

In [ ]:
import time
import datetime

In [ ]:
time.time() # 当前时间，在电脑中用数字表示1970至今经过的秒数 0:00时区

1652297599.0286982

**pd.Timestamp的用法**

In [ ]:
pd.Timestamp(time.time(), unit = 's') # 转化为标准时间

Timestamp('2022-05-11 19:33:43.453171492')

In [ ]:
pd.Timestamp(year = 2021, month = 3, day = 15, hour = 10, minute = 30, second = 25) # 关键字参数

Timestamp('2021-03-15 10:30:25')

In [ ]:
pd.Timestamp(2020, 10, 22, 13, 52, 12) # 位置参数

Timestamp('2020-10-22 13:52:12')

In [ ]:
pd.Timestamp('2020-11-25')

Timestamp('2020-11-25 00:00:00')

**pd.to_datetime的用法**

可以转换多个时间

In [ ]:
pd.to_datetime(['2020/10/15 13:28:56','2021/10/15 13:28:56'])

DatetimeIndex(['2020-10-15 13:28:56', '2021-10-15 13:28:56'], dtype='datetime64[ns]', freq=None)

In [ ]:
pd.to_datetime('210628', format = '%y%m%d') # 格式化

Timestamp('2021-06-28 00:00:00')

**timedelta**

进行时间的加减

In [ ]:
from datetime import datetime, timedelta
now = datetime.now()  # 获取当前时间     2020-11-10 17:41:21.012941
new_time = now + timedelta(days=10)  # 给now加10天,days为天     2020-11-20 17:41:21.012941
new_time1 = now + timedelta(seconds=10)  # 给now加10秒,seconds为秒   2020-11-10 17:41:31.012941

In [ ]:
from pandas.tseries.offsets import DateOffset
ts = pd.Timestamp('2017-01-01 09:10:11')
ts + DateOffset(months=3)
# Timestamp('2017-04-01 09:10:11')
ts + DateOffset(hours=2)
# Timestamp('2017-01-01 11:10:11')
ts + DateOffset()
# Timestamp('2017-01-02 09:10:11')

Timestamp('2017-01-02 09:10:11')

**pd.date_range**

周期性时间生成

Y: 年

M：月

D：天

H：小时

T：分钟

S：秒

In [ ]:
pd.date_range('2019-1-20', freq = 'D', periods = 5)

DatetimeIndex(['2019-01-20', '2019-01-21', '2019-01-22', '2019-01-23',
               '2019-01-24'],
              dtype='datetime64[ns]', freq='D')

**日期数据转化**

当日期是不规则的字符串时 --> pd.to_datetime() --> 日期类型数据

已经有了datetime类型的日期字段 --> dt.strftime() --> 字符串日期（可能不是常见的日期规格）



```
data.日期.dt.strftime('%Y/%m/%d') 

data.日期.dt.day/year/date # 提取时间元素
```

**日期索引对象**

先把索引变成日期这一列，然后可以进行如下操作



```
data.set_index('日期', inplace = True)
data.index.day
data.index.day.values

# 设置完索引后可以直接进行索引切片

data['2017']
data.loc['2017']
data['2017-09'] # 可以选出2017-09所有的数据
data.index.is_month_start # 是不是每月的第一天
```

14. 重采样resample

表示根据日期维度进行数据聚合，可以按照分钟、小时、工作日、周、月、年作为日期维度

In [ ]:
data.resample('Y')['成交量'].sum() # 重采样，表示对年份做groupby

15. Pandas字符串方法

**向量化字符串操作**

In [ ]:
s = pd.Series(['lower','capitals'])

In [ ]:
s.str.len()

0    5
1    8
dtype: int64

In [ ]:
s.str.lower()

0       lower
1    capitals
dtype: object

In [ ]:
s.str.upper()

0       LOWER
1    CAPITALS
dtype: object

In [ ]:
s.str.title()

0       Lower
1    Capitals
dtype: object

In [ ]:
s.str.capitalize()

0       Lower
1    Capitals
dtype: object

In [ ]:
s.str.swapcase()

0       LOWER
1    CAPITALS
dtype: object

**字符检索**

In [ ]:
s.str.get(2) # 选出了每一行的索引为2的字符

0    w
1    p
dtype: object

In [ ]:
s.str.slice(0,2)

0    lo
1    ca
dtype: object

In [ ]:
s.map(lambda x : x[:2])

0    lo
1    ca
dtype: object

In [ ]:
s.apply(lambda x : x[:2]) # 不能忽略缺失值

0    lo
1    ca
dtype: object

In [ ]:
s.str.find('e') # 通过元素找索引，找不到返回-1

0    3
1   -1
dtype: int64

In [ ]:
s.str.rfind('e') # 从右边开始找

0    3
1   -1
dtype: int64

In [ ]:
s.str.index('e') # 找不到会报错

**字符串提取**

In [ ]:
s.str.extract('([a-d])') # 找首次出现的，返回的是单个字母,这里输入的是一个tuple

     0
0  NaN
1    c

In [ ]:
s.str.findall('[a-d]') # 查找所有符合正则表达式的字符，以列表的形式返回，注意这里没有tuple

0           []
1    [c, a, a]
dtype: object

In [ ]:
s.str.findall('[a-d]').str.get(0)

0    NaN
1      c
dtype: object

**字符串判断**



```
s.str.islower() # 是不是小写
s.str.isnumeric() # 是不是数值
s.str.isalnum() # 是不是数字和字母组合
s.str.isdecimal() # 是否十进制
s.str.isalpha() # 是否是字母
s.str.isspace() # 是否是空格
s.str.istitle() # 是否首字母大写
s.str.startswith('b', na = False) # 是否以什么开头
s.str.endswith('b', na = False) # 是否以什么结尾
s.str.contains('t') 是否包含什么
```

In [ ]:
s.str.islower() # 是不是小写
s.str.isnumeric() # 是不是数值
s.str.isalnum() # 是不是数字和字母组合
s.str.isdecimal() # 是否十进制
s.str.isalpha() # 是否是字母
s.str.isspace() # 是否是空格
s.str.istitle() # 是否首字母大写
s.str.startswith('b', na = False) # 是否以什么开头
s.str.endswith('b', na = False) # 是否以什么结尾
s.str.contains('t') # 是否包含什么

0    False
1     True
dtype: bool

**字符串对齐填充**

In [ ]:
s.str.ljust(10, "*") # 长度为10，不足的补星

0    lower*****
1    capitals**
dtype: object

In [ ]:
s.str.pad(10, side = 'left', fillchar='*')

0    *****lower
1    **capitals
dtype: object

In [ ]:
s.str.zfill(10)

0    00000lower
1    00capitals
dtype: object

**字符整理**

In [ ]:
s.values # 查看值，检查是否有空格

array(['lower', 'capitals'], dtype=object)

In [ ]:
s.str.strip() # 默认去除首尾空格

0       lower
1    capitals
dtype: object

In [ ]:
s.str.strip("*")

0       lower
1    capitals
dtype: object

**字符串替换**

In [ ]:
s.str.replace('f','b')

0       lower
1    capitals
dtype: object

In [ ]:
s.str.replace('l.','ba', regex = True)

0       bawer
1    capitaba
dtype: object

**字符串分割**

In [ ]:
s.str.split('-',2) # 按照-分割2次

0       [lower]
1    [capitals]
dtype: object

In [ ]:
s.str.partition() # 切割为3部分，分割符前，分隔符和分隔符后

          0 1 2
0     lower
1  capitals

**字符串拼接**

In [ ]:
s.str.cat(s, sep = ',') # 2个字符串

0          lower,lower
1    capitals,capitals
dtype: object

In [ ]:
s.str.cat(sep = ',')  # 1个字符串

'lower,capitals'

In [ ]:
s.str.cat(s, sep = ' ', na_rep = '-') # nan值用'-'代替

0          lower lower
1    capitals capitals
dtype: object

**字符串重复**

In [ ]:
s.str.repeat(repeats = 2) # 都重复两次

0          lowerlower
1    capitalscapitals
dtype: object

In [ ]:
s.str.repeat(repeats = [1,2]) # 设置不同的重复次数

0               lower
1    capitalscapitals
dtype: object

**字符串统计**

In [ ]:
s.str.count('a')

0    0
1    2
dtype: int64

Demos

In [ ]:
# 从业人数最多的岗位的前5名的三种实现方式
data.groupby('员工职位').count()['员工姓名'].sort_values(ascending = True)
data.groupby('员工职位').count.sort_values(by = '员工姓名', ascending = True)['员工姓名']
data['员工职位'].value_counts()

In [ ]:
#